<ul class="list-unstyled">
  <% user_tasks.each do |user_task| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(user_task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to user_task.user.name, user_path(user_task.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= user_task.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate user_tasks %>
</ul>